/*
Stylesheet file for Comment vote module.
*/
.comment-vote-wrapper, .comment-vote-mini-wrapper {
	overflow: hidden;
	height: 18px;
	font-size: 14px;
}
.comment-vote-wrapper div, .comment-vote-mini-wrapper div {
	float: left;
	margin-right: 6px;
}
.comment-vote-wrapper span.voting-link, .comment-vote-wrapper span.disabled {
	display: block;
	float: left;
	margin-right: 1px;
	width: 22px;
	height: 22px;
	text-indent: -9999px;
}
.comment-vote-wrapper span.voting-link {
	cursor: pointer;
}
.comment-vote-wrapper .vote-up-wrapper {
	border-right: 1px solid #ccc;
}
.comment-vote-wrapper .vote-up-wrapper .vote-green {
	margin-right: 5px;
}
.comment-vote-wrapper span.vote-up {
	background: transparent url(images/up.png) no-repeat left top;
}
.comment-vote-wrapper span.vote-down {
	background: transparent url(images/down.png) no-repeat left -22px;
}
.comment-vote-wrapper .vote-up-wrapper span.disabled {
	background: transparent url(images/vote_sprites.png) no-repeat left -44px;
}
.comment-vote-wrapper .vote-down-wrapper span.disabled {
	background: transparent url(images/vote_sprites.png) no-repeat left -66px;
}
.comment-vote-mini-wrapper .vote-up-wrapper {
	border-right: 1px solid #ccc;
	padding-right: 10px;
}
.comment-vote-mini-wrapper span {
	display: block;
	line-height: 16px;
}
.comment-vote-mini-wrapper span.vote-green {
	background: transparent url(images/vote_mini_sprites.png) no-repeat left top;
}
.comment-vote-mini-wrapper span.vote-red {
	background: transparent url(images/vote_mini_sprites.png) no-repeat left -16px;
}